{% extends "drapes/layout.html" %}

{% block title %}Clients{% endblock %}

{% block content %}
    
    <br>
    <a class="btn btn-primary btn-sm" href="{% url 'create_clients' %}">

        create a new client
    </a>
    <hr>

    <table class="table table-dark table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Name </th>
            <th scope="col"> Address </th>
            <th scope="col"> Email </th>
            <th scope="col"> Phone </th>            
            <th scope="col"> Record Created </th>
            <th scope="col"> View </th>
          </tr>
        </thead>

        <tbody>
        {% if clients %}
            {% for client in clients %}
                <tr class="table-active">
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.location }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>                    
                    <td>{{ client.date_created }}</td>
                    <td><a href="{% url 'view_clients' client.id %}">View Client</a></td>
                </tr>                
            {% endfor %}
        {% endif %}
        </tbody>
      </table>
    
{% endblock %}