{% extends "drapes/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if messages %}    
    {% for message in messages %}
        {% if message.tags %}
            {{ message }}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="text-center"><br>
    <h3>Django Drapes...Management at its finest!</h3>    
    <h5>Keep track of your records effectively</h5>
    <hr>
    <br>
    <a class="btn btn-primary" href="{% url 'clients' %}">Clients</a>&nbsp;&nbsp;
    <a class="btn btn-secondary" href="{% url 'contacts' %}">Contacts</a>&nbsp;&nbsp;
    <a class="btn btn-info" href="{% url 'projects' %}">Projects</a>
</div>
{% endblock %}